# 课后练习


1. 练习形式：4道编程题，每题5分，共20分
1. 使用方法：复制或下载作业notebook，修改文件名为本人，编写并测试代码
2. 提交方式：上传或push到gitlab项目/2.数据处理文件夹中

# 题目

以贵州茅台每日股票价格为例，编程解决以下4道题：(推荐使用pandas)

In [1]:
from snowball import get_stock

data = get_stock("SH600519")  # 贵州茅台

In [2]:
data.head()

,timestamp,volume,open,high,low,close,chg,percent,turnoverrate,amount,volume_post,amount_post
timestamp,,,,,,,,,,,,
2001-08-27 00:00:00+08:00,998841600000,40631800,4.6083,5.0449,4.3866,4.7472,0.5554,13.25,56.83,1.410347e+09,None,None
2001-08-28 00:00:00+08:00,998928000000,12964779,4.6724,4.9408,4.6216,4.9221,0.1747,3.68,18.13,4.634631e+08,None,None
2001-08-29 00:00:00+08:00,999014400000,5325275,4.9381,4.9408,4.8206,4.8580,-0.0640,-1.30,7.45,1.946896e+08,None,None
2001-08-30 00:00:00+08:00,999100800000,4801306,4.8446,5.0089,4.8072,4.9541,0.0962,1.98,6.72,1.775586e+08,None,None
2001-08-31 00:00:00+08:00,999187200000,2323148,4.9608,5.0236,4.9141,4.9421,-0.0119,-0.24,3.25,8.623124e+07,None,None

In [3]:
data.tail()

,timestamp,volume,open,high,low,close,chg,percent,turnoverrate,amount,volume_post,amount_post
timestamp,,,,,,,,,,,,
2020-05-08 00:00:00+08:00,1588867200000,2907868,1317.0,1338.00,1308.51,1314.61,2.61,0.20,0.23,3.839218e+09,None,None
2020-05-11 00:00:00+08:00,1589126400000,2367119,1320.0,1335.00,1313.67,1323.01,8.40,0.64,0.19,3.135991e+09,None,None
2020-05-12 00:00:00+08:00,1589212800000,1972181,1318.0,1334.99,1316.00,1333.00,9.99,0.76,0.16,2.621825e+09,None,None
2020-05-13 00:00:00+08:00,1589299200000,2201431,1333.0,1337.99,1322.88,1335.95,2.95,0.22,0.18,2.931465e+09,None,None
2020-05-14 00:00:00+08:00,1589385600000,1857492,1330.0,1334.88,1325.11,1326.59,-9.36,-0.70,0.15,2.467976e+09,None,None

**1. 编写函数volatility_weekday计算历史2001-2020年所有周一至周五的最低价（high）与最高价（low）的波动率（$ \frac {high} {low} -1$），周几股价波动率最高？**

In [4]:
# 在这里写下你的代码

**2. 编写函数close_roi计算收盘价（close）特征。在2001-2020年历年的单月中，哪个月的涨幅最高（涨幅多少？），哪个月的涨幅最低（涨幅多少？），涨幅最高的月份分布集中（频次统计）吗？**

In [5]:
# 在这里写下你的代码

**3. 编写函数ma_close_year计算每日收盘价（close）在过去365天均值（年线），统计每年低于年线的交易天数与占比**

In [6]:
# 在这里写下你的代码

In [7]:
data.columns

Index(['timestamp', 'volume', 'open', 'high', 'low', 'close', 'chg', 'percent',
       'turnoverrate', 'amount', 'volume_post', 'amount_post'],
      dtype='object')

**4. 编写函数corr_matrix计算volume、open、close、percent、turnoverrate特征相互间的三类相关系数。哪两个变量的相关系数最高？**

[三类相关系数](http://www.crickcollege.com/news/164.html)：

1. Pearson积差相关系数
2. Spearman秩相关系数
3. Kendall秩相关系数

> python实现可参考：https://www.cnblogs.com/yjd_hycf_space/p/11537153.html

In [8]:
# 在这里写下你的代码